body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgba(220, 220, 220, 0.394);
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px auto;
}

.logo {
    font-size: 32px;
    font-weight: 800;
    margin: 5px;
}

.dash {
    width: 50px;
    border: 2px solid sandybrown;
    margin-bottom: 5px;
}

.categories {
    padding: 25px;
    text-align: center;
    align-items: center;
}

ul,
li {
    display: inline;
    text-decoration: none;

}

li {
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid sandybrown;
    border-radius: 5px;
    box-shadow: 0px 1px 1px 1px brown;
}

.img {
    width: 100%;
}

img {
    width: 300px;
    height: 337px;
    object-fit: cover;
}

#recipie {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    margin: 10px;
    gap: 10px;
}

.recipies {
    display: flex;
    flex-direction: row;
}

.content-container {
    padding: 1%;
    margin: 1%;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    text-align: justify;
    align-items: center;
}

.title {
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 700;
}

.price {
    color: rgba(165, 42, 42, 0.7);
    font-size: 20px;
    margin-left: 20%;
    ;
}

hr {
    width: 100%;
    border: 0.1px solid rgba(128, 128, 128, 0.423);
    ;
}